
/* -------------------- VARIABLES -------------------- */
    :root{
       --main-txt-color: black;
       --main-bg-color: #FFFBF6;
       --secondary-color:white;
       --secondary-txt-color:#BB6B1E;
       --secondary-font:'Montserrat', sans-serif;
       
       --dark-secondary:#CBCBCB;
    }
*,*:after,*:before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-size: 62.5%;
font-family: 'Philosopher', sans-serif;

}
.active{
    /* font-family:  sans-serif !important; */
    font-weight: 700 !important;
}

.btn{
    border: none;
    background-color: transparent;
    font-family: var(--secondary-font);
}
img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.title{
font-weight: 700;
}
.hidden{
    display: none;
}

/* ----------------------- HEADER ---------------------- */
.header{
display: grid;
grid-template-columns: repeat(2,1fr);
height: 100vh;
}
.header__img-box{
width: 100%;
height: 100%;
overflow: hidden;
}
.header__content{
background-color: var(--main-bg-color);
background-image: url("../public/images/Vector.png");
background-repeat: no-repeat;
background-position: center;
text-align: center;
display: flex;
flex-direction: column;
justify-content: center;
gap: 2rem;
}
.header-notification{
font-size: 1.4rem;
font-family: var(--secondary-font);
font-weight: 700;
}
.title--header{
font-size: 7.5rem;
}
.btn--cta{
    color: var(--main-txt-color);
    font-size: 1.4rem;
   
    font-weight: 700;
    border-bottom: 2px;
}


/* ----------------- SECTION BESTSELLER --------------- */
.btn--bestseller-right{
width: 5rem;
cursor: pointer;
display: none;

}
.btn--bestseller-left{
    width: 5rem;
    cursor: pointer;
    display: none;
}
.section--bestseller{
height: max-content;
display: flex;
flex-direction: column;
gap: 3rem;
padding: 5rem;
}
.title--bestseller{
font-size: 7rem;
/* font-weight: 700; */
align-self: center;
justify-self: center;
width: max-content;
}


/* ---------------- SECTION ABOUT --------------- */
.section--about{
background-image: url('../public/images/espresso.png');
background-repeat: no-repeat;
background-size: cover;
display: flex;
flex-direction: column;
gap: 3rem;
align-items: center;
justify-items: center;padding: 8rem 0;
}
.sub-title{
    font-family: var(--secondary-font);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
    letter-spacing: 0.1em;    
}
.sub-title--about{
    text-align: center;
    color: var(--secondary-color);  
}
.title--about{
   color: var(--secondary-color);
    font-size: 8rem;
    /* font-weight: 700; */
    line-height: 8rem;
    letter-spacing: 0em;
    text-align: center;
    width: 50%;
    
}
.btn--cta-about{
    color: var(--secondary-color);
}


/* ---------------- SECTION NEW -------------------- */
.section--info{
height: 100vh;
display: grid;
grid-template-columns: repeat(2,1fr);
padding: 5rem 8rem;
align-items: center;
}
.info__content{
display: flex;
flex-direction: column;
gap: 1rem;
}
.sub-title--info{

}
.title--info{
font-size: 6rem;
}
.btn--product-cta--info{

}
.info__banner{
    width: 100%;
}
.info__banner--new{
   width: 100%;
   height: 100%;
   border-radius: 50%;
  }

.info__banner--learn{
width: 65%;
height: 100%;
justify-self: center;

border-bottom-left-radius: 50rem;
border-bottom-right-radius: 50rem;
overflow: hidden;
}
.info__banner-img{
    width: 80%;
    height: 80%;
   object-fit: contain;
     
}
.paragraph{
    font-family: var(--secondary-font);
font-size: 1.4rem;
font-weight: 500;
line-height: 2.4rem;
letter-spacing: 0em;


}
.paragraph--info{
    text-align: left;
    width: 75%;
}
/* ------------- SECTION INGREDIENTS ----------------- */
.section--ingredients{
display: flex;
flex-direction: column;
background-color: var(--main-bg-color);

padding: 7rem;
align-items: center;
justify-items: center;

}
.ingredients__content{
display: flex;
flex-direction: column;
align-items: center;
justify-items: center;
gap: 2rem;
}
.title--ingredients{
    
    font-size: 8rem;
    /* font-weight: 700; */
    line-height: 6.4rem;
    letter-spacing: 0em;
    text-align: center;
    
}
.paragraph--ingredients{
text-align: center;
width: 70%;
}
.btn--product-cta--ingredients{
color: var(--secondary-txt-color) !important;
}
.ingredients__gallery{
   width: 100%;
display: grid;
grid-template-columns: repeat(auto-fit,minmax(20rem,21rem));
justify-content: center;
}
.ingredient__box{
display: flex;
flex-direction: column;
gap: 1rem;
padding: 2rem;
justify-content: space-between;
align-items: center;
}
.ingredient__icon-box{
/* width: 70%;
height: 80%; */
align-self: center;
}
.ingredient__name{
    text-transform: uppercase;
    font-family: var(--secondary-font);
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.5rem;
    letter-spacing: 0.1em;
    text-align: center;
    width: max-content;
    text-align: center;
    
}
/* -------- SECTION BANNER ---------------- */
 .section--banner{
display: flex;
flex-direction: column;
gap: 1rem;
height: 70vh;
align-items: center;
justify-content: center;
background-image: url('../public/images/Cocteles-a-domicilio.png');
background-repeat: no-repeat;
background-size: cover;
 }   

 .sub-title--banner{
    color: var(--secondary-color);
 }
 .title--banner{
    color: var(--secondary-color);
    font-family: Philosopher;
font-size: 8rem;
/* font-weight: 700; */
line-height: 6.4rem;
letter-spacing: 0em;
text-align: center;

 }
 .btn--product-cta--banner{
    color: var(--secondary-color) !important;
    margin-top: 4rem;
 }

 /* --------------- SECTION JOIN ------------------ */
 .section--join{
display: flex;
flex-direction: column;
height: 70vh;
 }
 .title--join{
  
    font-size: 8rem;
    /* font-weight: 700; */
    line-height: 6.4rem;
    letter-spacing: 0em;
    text-align: center;
    padding:5rem 3rem;
 }
 .section--join__gallery{
display: grid;
grid-template-columns: repeat(auto-fill,minmax(25%,1fr));
 }
 .gallery-img__box{
    width: 100%;
    height: 100%;
 }

/* ------------ BREAD CRUMP --------------------- */

.bread-crumb{
    width: 100%;
    border-top: solid 1px var(--dark-secondary);
    border-bottom: solid 1px var(--dark-secondary);
    padding: 0.8rem 5rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    }
    .bread-crumb__item{
        font-family: var(--secondary-font);
        font-size: 1.4rem;
        font-weight: 400;
        line-height: 2.4rem;
        letter-spacing: 0em;
        text-align: left;
    }
    .bread-crumb__icon-box{
    height: 70%;
    
    }













 /* ------------ RESPONSIVE --------------- */
 @media (max-width:1200px) {
    .title--about{
width: 70%;
    }
    .info__banner--learn{
        width: 75%;
    }
 }
 @media (max-width:1000px) {
    .title--about{
width: 80%;
font-size: 6rem;
    }
    .info__banner--learn{
        width: 80%;
    }
 }
 @media (max-width:900px) {
    html{
        font-size: 55%;
    }
    .header{
       height: auto;  
        }
        .title--header{
            font-size: 6rem;
        }
        .header__content{
background-size: 80%;
        }
        .title--bestseller{
            font-size: 6rem;
        }
        .btn--bestseller-right,.btn--bestseller-left{
display: inline;
        }
    .title--about{
width: 80%;
font-size: 6rem;
    }
    .info__banner--learn{
        width: 55%;
    }
    .info__banner{
        text-align: center;
    }
    .section--info{
        height: auto;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 3rem;
        padding: 4rem;
    }
    .info__content{
grid-row: 2/3;
align-items: center;
justify-items: center;
    }
 }
@media (max-width:600px) {
    html{
        font-size: 50%;
    }
    .paragraph{
        text-align: center;
    }
    .header{
      
        /* grid-template-columns: 1fr;
        grid-template-rows: repeat(2,max-content); */
        display: flex;
        flex-direction: column;
        /* height: auto; */
        }
        .header__img-box{
height: 50%;
overflow: hidden;
        }
        .header__img{
            /* object-position: top; */
        }
        .header__content{
          height: 40rem;
          padding-bottom: 2rem;
          background-size:contain;
        }
        .section--bestseller{
            padding: 1rem;
        }
        .title{
            font-size: 4.5rem;
        }
        /* .title--bestseller{
            font-size: 5rem;
        } */
        .slide-bestseller{
width: 45% !important;
        }
        .title--about{
            width: 95%;
        }
        .slide-press{
            width: 50%;
        }
        .press__content{
            width: 100% !important;
        }
        .section--info{
padding: 2rem;
        }
        .info__banner--learn{
            height: 110%;
        }
        .section--ingredients{
padding: 7rem 0;
        }
        .paragraph--ingredients{
            width: 90%;
            text-align: center;
        }
        .section--banner{
            background-image: url('../public/images/mobile version/Cocteles-a-domicilio\ 1.png');
            
        }
       
        .section--join__gallery{
            grid-template-columns: repeat(auto-fill,minmax(50%,1fr)); 
        }
}